@model UserLoginDto

<div class="main" style="height: 400px;">
    <p class="sign text-success" align="center">Giriş Yap</p>
    <form asp-controller="Auth" asp-action="Login" class="form1" method="post">
        <div asp-validation-summary="All"></div>
        <input asp-for="Email" type="email" class="un" align="center" placeholder="E-Mail">
        <span asp-validation-for="Email"></span>

        <input asp-for="Password" type="password" class="pass" align="center" placeholder="Password">
        <span asp-validation-for="Email"></span>

        <a type="submit" asp-action="Index" asp-controller="Home" asp-area="Admin" class="submit" align="center">Giriş Yap</a>
        <input type="checkbox" class="forgot" align="center" asp-for="RememberMe" id="remember-me">
        <label asp-for="RememberMe" for="remember-me"> Beni Hatırla</label>
    </form>
</div>