<footer class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-6 fw-bolder">Tüm Doğal Ürünler İçin Tek İhtiyacınız OᖇGᗩᑎIK ᗰᗩᖇKET</h1>
            <p class="lead fw-normal text-white-50 mb-0">Türkiye’nin önemli online marketlerinden biri olan Organik
                Market, 2023 yılında doğal olanı herkes için ulaşılabilir kılmak amacıyla kuruldu. O günden bugüne doğal
                köy ürünlerinden meyve sebzeye kadar pek çok ürünle beğeni kazanmaya devam ediyor. Organik Market hem
                farklı ürünlere hem de bütçelere hitap eder. Kolay ve güvenli bir deneyim sunar. Sebze, meyve ve köy
                ürünlerinde sayısız çeşit üretir ve sunar. Bu ürünler uygun fiyat avantajıyla sunulur. Her mevsime uygun
                ürün seçenekleri bulunur. Kışlık ürünlerde turşu, tereyağı, çökelek gibi ürünler baskınken yaz
                ürünlerinde vişne ve pekmez ürünleri sıklıkla tercih edilir. Geniş ürün ve çeşit aralığı sayesinde
                istediğiniz ürünü tercih edebilirsiniz.</p>
        </div>
        <div class="text-center text-white mt-3">
            <h1 class="display-6 fw-bolder">Üretici Dostu, Doğal Dostu ,Köy Dostu OᖇGᗩᑎIK ᗰᗩᖇKET</h1>
            <p class="lead fw-normal text-white-50 mb-0">Organik Market Türkiye genelinde tüm doğal ve organik ürün
                üreticileriyle işbirliği halindedir. Müşterilerine en doğal, en organik ve taze ürünleri ulaştırmak için
                titiz çalışmaktadır. Tüketici ve üretici dostu olan Organik Market müşterilerine hem çeşitli hem de
                uygun fiyata ürün ulaştırmayı vizyonu olarak benimsemiştir.</p>
        </div>
    </div>
</footer>